@charset "utf-8";

/* ==============================
 * common
 * ============================== */

 #subTopWrap.noneType {height:112px;}
 #subTopWrap.noneType .subTopArea {border-bottom:0;}


.dotList {}
.dotList > li {position:relative; padding-left:10px; font-size:22px; line-height:30px; color:#767676;}
.dotList > li:before {content:''; position:absolute; top:12px; left:0; width:3px; border-bottom:3px solid #767676; border-radius:50%;}


.contBoxType1 {margin:0 30px; padding:30px 20px; font-size:24px; line-height:30px; color:#767676; background:#f7f7f7;}
.contBoxType1 + .btnGroupMoTy1 {margin-top:60px;}


.btnGroupMoTy1 {text-align:center; padding:0 30px; font-size:0;}
.btnGroupMoTy1 .btnType1 {width:calc(50% - 10px); padding:0;}
.btnGroupMoTy1 .btnType1 + .btnType1 {margin-left:20px;}



 /* ==============================
 * 회원가입
 * ============================== */
 /* 회원가입 - 가입인증 */
.signUpFlow {margin:70px 0 0 0; text-align:center;}
.signUpFlowList {position:relative; font-size:0; text-align:center;}
.signUpFlowList:after {content:''; position:absolute; top:30px; left:45px; width:calc(100% - 90px); border-bottom:10px solid #f4f6f9;}
.signUpFlowList > li {position:relative; display:inline-block; vertical-align:top; width:25%; padding-top:100px;}
.signUpFlowList > li + li {}
.signUpFlowList > li .stepCount {position:absolute; top:0; left:50%; z-index:1; margin-left:-35px; width:70px; height:70px; border-radius:50%; font-size:28px; color:#727476; line-height:70px; background:#f4f6f9;}
.signUpFlowList > li.on .stepCount {font-weight:500; color:#fff; background:#5b648a;}
.signUpFlowList > li .txt {font-size:28px; color:#727476;}
.signUpFlowList > li.on .txt {font-weight:500; color:#292a2d;}

.singUpCert {margin:57px 30px 0 30px; padding:33px 0 60px 0; text-align:center; border:1px solid #e2e2e4; border-top:2px solid #5b648a;}
.singUpCertTit > strong {font-weight:500; font-size:36px; color:#292a2d;}
.singUpCertTit .desc {padding-top:3px; font-size:24px; color:#727476;}

.singUpCertLink {margin-top:63px; text-align:center; font-size:0;}
.singUpCertLink > .singUpCertLinkEle {display:inline-block; padding:20px 0; vertical-align:top; width:50%; text-align:center;}
.singUpCertLink > .singUpCertLinkEle + .singUpCertLinkEle {border-left:1px solid #e2e2e4;}
.singUpLink {display:inline-block; width:100%; padding-top:130px; font-weight:500; font-size:28px; color:#292a2d; background-repeat:no-repeat;}
.singUpLink.ty1 {background-image:url(../new_images/common/iconCertPhone.png); background-position:center top;}
.singUpLink.ty2 {background-image:url(../new_images/common/iconCertPin.png); background-position:center top;}




/* 회원가입 - 가입완료 */
.completeCont {margin:57px 30px 0 30px; padding:33px 0 0 0; text-align:center;/*  border:1px solid #e2e2e4; */ border-top:2px solid #5b648a;}
.completeContTit > strong {font-weight:500; font-size:32px; color:#292a2d;}
.completeContTit > strong > span {color:#4171df;}
.completeContTit .desc {padding-top:10px; font-size:16px; color:#727476;}
.completeCont + .btnGroup {margin-top:60px;}
.completeContReg {margin-top:40px; padding:30px 50px; border: 1px solid #e2e2e4; border-top: 2px solid #5b648a; font-size:0;}
.completeContReg > div {display:inline-block; width:50%;}
.completeContReg .tit {display:inline-block; padding-right:22px; font-size:16px; color:#4e4f51;}
.completeContReg + .btnGroup {margin-top:60px;}



.singUpCompDetail {padding-top:42px;}
.singUpCompList {border:1px solid #e2e2e4; font-size:0;}
.singUpCompList > li {position:relative; padding:28px 0; text-align:left;}
.singUpCompList > li:before {content:''; position:absolute; top:28px; left:170px; height:calc(100% - 56px); border-left:1px solid #e3e7ee;}
.singUpCompList > li + li {border-top:1px solid #e2e2e4;}
.singUpCompList > li > .tit {display:inline-block; vertical-align:middle; width:170px; font-size:28px; color:#4e4f51; padding-left:45px; line-height:30px;}
.singUpCompList > li > .detail {position:relative; display:inline-block; vertical-align:middle; width:calc(100% - 170px); padding:0 0 0 40px; line-height:30px; font-weight:500; font-size:28px; color:#292a2d;}




