@charset "utf-8";

/* ==============================
 * common
 * ============================== */

button.goLink, a.goLink {background-color:#fff;}
.btnH30 {display:inline-block; min-width:105px; text-align:center; font-size:14px; color:#258384; border:1px solid #258384; line-height:28px;}


.tblEle {display:table; width:100%;}
.tblEle > .ele {display:table-cell; vertical-align:middle;}
.tblEle > .ele.mini {text-align:right; width:10px; padding-left:10px; white-space:nowrap;}
.tblEle > .ele.mini.verPC {display:table-cell !important;}
.tblEle > .ele .inpAlertMsg {padding-top:0;}
.inpArea + .tblEle {padding-top:10px;}

.dotList {}
.dotList > li {position:relative; padding-left:10px; font-size:12px; line-height:20px; color:#767676}
.dotList > li:before {content:''; position:absolute; top:9px; left:0; width:3px; border-bottom:3px solid #767676; border-radius:50%;}


/* ==============================
 * 회원가입
 * ============================== */
.signUpFlowList > li .verPC {display:inline-block !important;}

.mjArea {margin:60px 0 40px 0; border:1px solid #e2e2e4; border-top:2px solid #5b648a;}
.mjArea > .inner {padding:40px 0; text-align:center; font-size:0;}
.mjArea > .inner > a {display:inline-block; vertical-align:top; width:379px; padding-bottom:80px; font-weight:500; font-size:18px; color:#292a2d; background-repeat:no-repeat; background-position:center bottom;}
.mjArea > .inner > a + a {border-left:1px solid #e2e2e4;}

.mjTy1 {background-image:url(../new_images/common/iconMj01.png)}
.mjTy2 {background-image:url(../new_images/common/iconMj02.png)}
.mjTy3 {background-image:url(../new_images/common/iconMj03.png)}


/* 회원가입 - 가입완료 */
.singUpCompList > li .verPC {display:inline-block !important;}